body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    width: 96%;
    margin: auto;
    font-size: 1.3em;
    font-style: bold;
}


.menu {
    width: 100%;
    padding: 2% 0px;
    border: 0px solid red;
    border-top: 7px solid red;
    border-left: 7px solid red;
    border-right: 7px solid red;
}

.menu p{
    color: red;
    margin-top: 20px;
    margin-left: 35%;

}

.menu img{
    position: absolute;
    margin-left: 1%;
}

.slider {
    width: 100%;
    padding: 7% 0px;
    border-top: 7px solid green;
    border-left: 7px solid green;
    border-right: 7px solid green;
}


.slider p{
    color: green;
    margin-top: 20px;
    margin-left: 34%;

}


.uslugi {
    width: 100%;
    padding: 0 0 1% 0;
    border-top: 7px solid rgb(78, 170, 227);
    border-left: 7px solid rgb(78, 170, 227);
    border-right: 7px solid rgb(78, 170, 227);
}

.uslugi p{
    position: absolute;
    color: rgb(95, 181, 235);
    margin: 0% 0% 0% 40%;

}



.boxy{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    

}

.box {
    margin-left: 10px;
    margin-top: 50px;
    border: 8px solid rgb(47, 47, 176);
    padding: 190px 410px 0px 0px;
    background: url(img/usluga.png) no-repeat center 20px;
    background-size: cover;

}

.produkty {
    width: 100%;
    padding: 5% 0 5% 0;
    border-top: 7px solid rgb(255, 255, 57);
    border-left: 7px solid rgb(255, 255, 57);
    border-right: 7px solid rgb(255, 255, 57);
}

.produkty p{
    color: rgb(255, 255, 57);
    margin-left: 40%;
}

.artykuly{

    border:7px solid rgb(109, 20, 20);
    width: 100%;
    left: 100px;
    padding: 0% 0 15% 0;
}

.artykuly p{
    color: rgb(109, 20, 20);
    margin-left: 35%;
}

.footer {
    width: 100%;
    padding: 3% 0 4% 0;
    border-bottom: 7px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
}

.line{
    padding-left: 1%;
    width: 100%;
    border-top: 5px solid red;
}



